@model EasyLearner.Service.Dto.StudentDto
@{
    ViewData["Title"] = "StudentAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>StudentAccount</h1></center>
<form id="frmStudent" asp-action="EditStudentName" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" name="Id" id="sid" />
    <div class="form-row mt-0">
        <div class="form-group col-md-5">
            <label for="UserName">User name</label>
            <input type="text" id="UserName" asp-for="UserName" name="UserName" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row mt-0">
        <div class="form-group col-md-5">
            <label for="StudentName">Name of Student  <span class="text-danger">*</span></label>
            <input type="text" asp-for="StudentName" name="StudentName" id="StudentName" class="form-control" />
            <button class="btn btn-primary" id="btnEditStudentName">Edit</button>

        </div>
    </div>
    <div class="form-row mt-0">
        <div class="form-group col-md-5">
            <label for="Name">Major & Grade </label>
            <select id="GradeId" name="GradeId" asp-items="@ViewBag.GradeList" class="form-control">
                <option value="">--Select Grade--</option>
            </select>
            <button class="btn btn-primary" id="btnEditGrade">Edit</button>

        </div>
    </div>

    <div class="form-row mt-0">
        <div class="form-group col-md-5">
            <a href='@Url.Action("GetFriendList","Student",new { id=Model.Id})'>Invite-Friends</a>
        </div>
    </div>
    <div class="form-row mt-0">
        <div class="form-group col-md-5">
            <a href="#" onclick="EditPassword();">Password</a>
        </div>
    </div>
    <div class="form-row mt-0">
        <div class="form-group col-md-5">
            <a href="@Url.Action("FilterStudent","Student")">Back to list</a>
        </div>
    </div>
</form>
@section Scripts{

    <script>
        function EditPassword() {
            $("#modalContent").load(`/Student/_EditPassword/${@Model.Id}`, function () {
                $("#divModal").modal('show');
            });
        }

        $("#btnEditStudentName").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditStudentName","Student")',
                data: {
                    id: $("#sid").val(),
                    studentName: $("#StudentName").val()
                },
                success: function (response) {
                    Easylearner.HandleResponse(response);
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
       
        $("#btnEditGrade").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditStudentGrade","Student")',
                data: {
                    id: $("#sid").val(),
                    gradeId: $("#GradeId option:selected").val()
                },
                success: function (response) {
                    Easylearner.HandleResponse(response);
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
    </script>
}